* {
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    background-image: url(https://live.staticflickr.com/7213/6887025506_38362b2f59_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#cover {
    margin: 2%;
    padding: 1%;
    background-color: #00000095;
    border-radius: 10px;
}

header blockquote {
    display: block;
    max-width: 1050px;
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    margin: 10% auto 0;
    font-family: 'Rubik Pixels', cursive;
    transform: rotate(10deg);
    color: white;
    text-shadow: 10px 10px 10px gray;
}

nav {
    background: linear-gradient(#F4D35E,#FAF0CA);
    border: 5px solid black;
    border-right: 0;
    border-left: 0;
    margin-top: 30%;
}

nav li {
    display: inline-block;
}

nav ul {
    margin: 0 auto;
    padding: 4%;
    text-align: center;
    background-color: #0D3B66;
}

nav a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: medium;
    border: 5px solid #F4D35E;
    border-radius: 10px;
    background-color: #FAF0CA;
    color: black;
    padding: 35px 60px;
    margin: 10px;
}

nav a:hover {
    box-shadow: 10px 10px 10px black;
}

label {
    font-size: 50px;
    color: white;
    margin-left: 2%;
}

#lname, #fname, #phone, #email {
    display: block;
    margin: 1% 0 10% 2%;
    font-size: 30px;
}

#submit {
    margin-left: 40%;
    padding: 2% 4%;
    border-radius: 10px;
}

#reset {
    margin-left: 5%;
    padding: 2% 4%;
    border-radius: 10px;
}

h1 {
    padding: 1%;
    font-size: 2.5em;
    text-align: left;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 10px solid black;
    border-radius: 10px;
    margin: 1%;
}

.grid-item1 {
    color: white;
    background-color: #1768b3dc;
    padding: 10%;
    font-size: 50px;
    text-align: center;
}

.grid-item2 {
    color: white;
    background-color: #0F4273dc;
    padding: 10%;
    margin-left: 1%;
    font-size: 50px;
    text-align: center;
}

.grid-item3 {
    color: white;
    background-color: #0a2c4ddc;
    padding: 10%;
    margin-left: 1%;
    font-size: 50px;
    text-align: center;
}

.grid-container button {
    padding: 1%;
    background-color: black;
    color: white;
    border-radius: 10px;
}

article {   
    padding: 7%;
    font-size: 2.5em;
    text-justify: inter-word;
    color: white;
}

footer {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 15%;
    line-height: 20px;
    word-spacing: 10px;
    letter-spacing: 5px;
}